@model DigitalWizardry.Dungeon.Models.DungeonViewModel

@{
    ViewData["Title"] = "Dungeon Generator";
}

@* @Html.DisplayFor(m => m.TextVisualization) *@
<!--https://www.learnhowtoprogram.com/net/database-testing-and-ajax/using-basic-ajax-in-net-mvc-->

<table>
	<tr>
		<td class="pad">
			<p>
				Dungeon Generator
				<br>Game Demo
				<br>by <a target="_blank" href="http://www.digitalwizardry.ca">Digital Wizardry</a>
			</p>
			<p>
				<a target="_blank" href="">About</a>
				<br><a target="_blank" href="">How to Play</a>
			</p>
			<p>
				<form action=""><input type="button" value="Start" onclick="Start()"/></form>
			</p>
			<p>
				Level: <span id="level">1</span>
			</p>
		</td>
		<td>
			<div class="grid">
				<div id="player" class="sprite g07-00 player"></div>
				<div class="sprite g06-14 greengoblin"></div>
				<div class="sprite g07-14 greengoblin"></div>
				<div class="sprite g08-14 greengoblin"></div>

				@for(var y = @Model.CssNames.GetLength(1) - 1; y >= 0; y--)
				{
					@for(var x = 0; x <  Model.CssNames.GetLength(0); x++)
					{
						var xs = x < 10 ? "0" + x.ToString() : x.ToString();
						var ys = y < 10 ? "0" + y.ToString() : y.ToString();
						var locationClass = "g" + xs + "-" + ys;
						<div class="tile @locationClass @Model.CssNames[@x, @y]"></div>
					}
				}
			</div>
		</td>
	</tr>
</table>

<h2>Using Parameters</h2>
<h4 class="sum">Sum</h4>
<div id="result2"></div>

<h2>Using JSON to display an object</h2>
<h4 class="display-object">Display object</h4>
<div id="result3"></div>

<h2>Displaying a view</h2>
<h4 class="display-view">Display view</h4>
<div id="result4"></div>

<script type="text/javascript">
    $(document).ready(function () {
		$('.sum').click(function () {
			$.ajax({
				type: 'GET',
				data: { firstNumber: 1, secondNumber: 2 },
				url: '@Url.Action("Sum")',
				success: function (result) {
					$('#result2').html(result);
				}
			});
		});
    });
	$('.display-object').click(function () {
		$.ajax({
			type: 'GET',
			dataType: 'json',
			contentType: 'application/json',
			url: '@Url.Action("DisplayObject")',
			success: function (result) {
				var resultString = 'Id: ' + result.id + '<br>City: ' + result.city + '<br>Country: ' + result.country;
				$('#result3').html(resultString);
			}
		});
	});
	$('.display-view').click(function () {
		$.ajax({
			type: 'GET',
			dataType: 'html',
			url: '@Url.Action("DungeonView")',
			success: function (result) {
				$('#result4').html(result);
			}
		});
	});
</script>